/* Basic Styles */

* {
	
}

/* Login/Logout Link */

#account-links ul {
	text-align: right;
}

#account-links ul li {
	list-style-type: none;
}



/* Catalog Table */

#catalog-table th,
#catalog-table td {
	border: 1px inset #FFF;
}



/* Forms */

.note {
	display: block;
}

.form-item {
	clear: both;
}

.form-item label {
	display: block;
	float: left;
	width: 150px;
	height: 2em;
}

.form-item .inline {
	display: inline;
}

.form-item .inline label {
	display: inline;
	float: none;
	width: auto;
}

#checkout-payment-types ul li {
	display: inline-block;
	list-style-type: none;
}